
nav {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: right;
}


header {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}



img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  width: 250px;
}

main {
  max-width: 550px;
  margin: 0 auto;
}
